{
    "extends": "@antfu",
    "rules": {
        "no-console": "off",
        "eol-last": "off",
        "curly": [
            "error",
            "all"
        ]
    },
    "env": {
        "jest": true
    }
}